<% extend("../../datvangphanthiet") %>
<!--=================================
breadcrumb -->
<div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="#">Pages</a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Terms and conditions </span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
breadcrumb -->

  <!--=================================
Terms and conditions -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>Các điều khoản và điều kiện</h2>
          </div>
          <h6 class="text-primary">1. Chuẩn bị lệ phí công chứng.</h6>
          <p class="mb-20">Điều trước hết và đầu tiên để có thể được công chứng là bạn cần chuẩn bị các khoản lệ phí cho
            dịch vụ công chứng. Mức lệ phí được tính căn cứ vào Điều 4. Mức thu phí, lệ phí trích từ thông tư quy định
            mức thu, chế độ thu, nộp, quản lý, sử dụng phí công chứng; phí chứng thực; phí thẩm định tiêu chuẩn, điều
            kiện hành nghề công chứng; phí thẩm định điều kiện hoạt động Văn phòng công chứng; lệ phí cấp thẻ công chứng
            viên, </p>
          <h6 class="text-primary mt-4">2. Chuẩn bị hồ sơ giấy tờ thủ tục mua bán nhà cửa đất đai</h6>
          <p class="mb-20"> <strong> Về phía bên mua cần chuẩn bị:</strong>
            Chứng minh nhân dân ( 02 bản phô tô công chứng – của vợ chồng nếu đã kết hôn)
            Sổ hộ khẩu (02 bản phô tô công chứng – trường hợp vợ 1 hộ khẩu, chồng một hộ khẩu thì cần cả 2 bản hộ khẩu
            của vợ và chồng)
            Đăng ký kết hôn (02 bản phô tô công chứng – Trường hợp còn độc thân xin thêm giấy xác nhận tình trạng hôn
            nhân tại nơi đăng ký thường trú)
            Hợp đồng chuyển nhượng (02 bản công chứng – Thông thường phòng công chứng sẽ soạn thảo và chứng vào hợp
            đồng) </p>
          <p class="mb-20"> <strong>Phía bên bán cũng chuẩn bị những văn bản sau:</strong>
            Chứng minh nhân dân ( 02 bản phô tô công chứng – của vợ chồng nếu đã kết hôn)
            Sổ hộ khẩu (02 bản phô tô công chứng – trường hợp vợ 1 hộ khẩu, chồng một hộ khẩu thì cần cả 2 bản hộ khẩu
            của vợ và chồng)
            Đăng ký kết hôn (02 bản phô tô công chứng – Trường hợp còn độc thân xin thêm giấy xác nhận tình trạng hôn
            nhân tại nơi đăng ký thường trú)
            Sổ đỏ bản gốc ( 02 bản công chứng)</p>
          <h6 class="text-primary mt-4">3. Hoàn thiện và ký kết hợp đồng mua bán chuyển nhượng bất động sản</h6>
          <p class="mb-20">Sau khi bạn đã chuẩn bị tất cả các thủ tục giấy tờ, cả hai bên mua bán hay chuyển nhượng cần phải đến cơ quan công chứng nơi có tài sản được mua bán chuyển nhượng để thực hiện các thủ tục ký kết hợp đồng. Tai đây, cơ quan công chứng sẽ soạn thảo hợp đồng và chứng nhận theo quy định của pháp luật, và xuất làm 4 bản chính.
            Một bản chính được cấp cho bên bán, chuyển nhượng
            Một bản chính được cấp cho bên mua, thừa kế
            Một bản chính được nộp cho cơ quan thuế để lưu lại
            Một bản chính đượ lưu tại cơ quan trước bạ nhà đất</p>
          <h6 class="text-primary mt-4">4. Kê khai thuế và nộp thuế nhà đất</h6>
          <p class="mb-20">Đơn vị tiếp nhận giấy tờ hồ sơ: Bạn sẽ có trách nhiệm nộp hồ sơ tại bộ phận một cửa văn phòng đăng ký đất đai tại quận chứa tài sản
            Các khoản phải chi cho chi phí thuế và lệ phí mua bán sang tên chuyển nhượng bao gồm</p>
          <ul class="pl-3 mb-20">
            <li>Chi phí thuế thu nhập cá nhân được tính bằng 2% tổng giá trị tài sản mua bán, chuyển nhượng </li>
            <li>Chi phí thuế trước bạ được tính bằng 0.5% tổng giá trị tài sản mua bán, chuyển nhượng</li>
            <li>Molestias, eum nihil expedita dolorum odio dolorem</li>
            <li>Chi phí cho lệ phí địa chính được tính là 15.000 đồng/mỗi trường hợp;/li>
            <li>Chi phí cho lệ phí thẩm định giấy tờ hồ sơ được tính bằng 0,15% giá trị tài sản sang tên chuyển nhượng (tối thiểu 100.000 đến tối đa là 5.000.000 đồng/mỗi trường hợp)</li>
          </ul>
          <h6 class="text-primary mt-4">5. Trình tự quy trình hoàn thiện thủ tục mua bán nhà đất</h6>
          <p class="mb-4">Sau khi nhận được 1/2 tổng số hồ sơ, giấy tờ cần thiết cho việc mua bán chuyển nhượng nhà đất nói trên, bộ phận một cửa sẽ có gửi thông báo nộp đến địa chỉ gia đình bạn.
            Sau khi thông báo thuế, bạn là người mọi thủ tục hồ sơ, giấy tờ sẽ có trách nhiệm nộp thuế vào ngân sách theo quy định của nhà nước trong thông báo thuế đề ra.
            Sau khi nộp thuế xong, bạn hãy giữ biên lai xác nhận đã nộp thuế đến cho bộ phận một cửa của cơ quan tài nguyên môi trường để viết ghi chú 1/2 tổng số hồ sơ còn lại và biên lai thuế.
            Sau khi nhận được văn bản, đây là bước cuối cùng, bộ phận một cửa sẽ gửi thông báo nhận giấy tờ (sổ đỏ) chứng nhận quyền sở hữu, sử dụng nhà cửa đất đai.</p>
          <a class="btn btn-primary" href="#"><span>Accept</span></a>
          <a class="btn btn-dark" href="#"><span>Close</span></a>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
Terms and conditions -->

<!--=================================
newsletter -->
<section class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-white mb-0">Đăng ký nhận bản tin của chúng tôi để nhận những tin tức và ưu đãi mới nhất.</h3>
      </div>
      <div class="col-md-7 mt-3 mt-md-0">
        <div class="newsletter">
          <form>
            <div class="form-group mb-0">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-dark b-radius-left-none">Nhận tin nhắn</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
newsletter -->