<% extend("../../datvangphanthiet") %>

<!--=================================
Breadcrumb -->
<div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Thành công </span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
  Breadcrumb -->
  
  <!--=================================
  No result found -->
  <section class="space-ptb bg-holder">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12 mt-5 mt-md-0">
            <h1 class="mb-4">Gửi email thành công !</h1>
            <p class="lead">Chúng tôi sẽ hồi đáp thông tin nhanh chóng !</p>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  No result found -->