<% extend('./master') %>
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="text-center account-logo-box">
                        <div class="mt-2 mb-2">
                            <a href="/admin/login" class="text-success">
                                <span><img src="/public/admin/assets/images/auth/logo-dark.png" alt=""
                                        height="50"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <% if(errors != ""){%>
                        <% errors.forEach((item) => {%>
                        <div class="alert alert-danger" role="alert">
                            <strong class="alert-link"><%- item %></strong>.
                        </div>
                        <%})%>
                        <%}%>
                            <% if(success != ""){%>
                        <% success.forEach((item) => {%>
                        <div class="alert alert-success" role="alert">
                            <strong class="alert-link"><%- item %></strong>.
                        </div>
                        <%})%>
                        <%}%>
                        <hr />
                        <div class="text-center mb-4">
                            <p class="text-muted mb-0">Nhập địa chỉ email của bạn và chúng tôi sẽ gửi cho bạn một email kèm theo hướng dẫn để đặt lại mật khẩu của bạn.</p>
                        </div>
                        <form action="/admin/change-password/<%= token %>" method="POST" md-float-material">
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary"> Nhập mật khẩu mới </h3>
                                </div>
                            </div>
                            <hr />
                            <div class="input-group">
                                <input type="password" class="form-control" name="password"
                                    placeholder="Nhập mật khẩu mới" required>
                                <span class="md-line"></span>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit"
                                        class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Xác
                                        nhận</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-5">
                    <div class="col-sm-12 text-center">
                        <p class="text-muted">Đã có tài khoản ?<a href="/admin/login" class="text-primary ml-1"><b>Quay
                                    lại đăng nhập</b></a></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>