<% extend('./master') %>
<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="row card">
                    <div class="text-center account-logo-box">
                        <div class="mt-2 mb-2">
                            <a href="/admin" class="text-success">
                                <span><img src="/public/admin/assets/images/logo-light.png" alt="" height="26"></span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="alert-box">
                            <% if(errors != ""){%>
                            <% errors.forEach((item) => {%>
                            <div class="alert alert-danger mb-3" role="alert">
                                <strong class="alert-link"><%- item %></strong>.
                            </div>
                            <%})%>
                            <%}%>
                                <% if(success != ""){%>
                            <% success.forEach((item) => {%>
                            <div class="success alert-success mb-3" role="alert">
                                <%- item %>
                            </div>
                            <%})%>
                            <%}%>
                        </div>
                        <form action="/admin/login" method="POST">
                            <div class="form-group">
                                <input class="form-control" name="username" type="text" id="username" required=""
                                    placeholder="Tài khoản">
                            </div>

                            <div class="form-group">
                                <input class="form-control" name="password" type="password" required="" id="password"
                                    placeholder="Mật khẩu">
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox checkbox-success">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked>
                                    <label class="custom-control-label" for="checkbox-signin">Remember me</label>
                                </div>
                            </div>
                            <div class="form-group text-center mt-4 pt-2">
                                <div class="col-sm-12">
                                    <a href="/admin/reset-password" class="text-muted"><i class="fa fa-lock mr-1"></i>
                                        Bạn quên mật khẩu ?</a>
                                </div>
                            </div>
                            <div class="form-group account-btn text-center mt-2">
                                <div class="col-12">
                                    <button class="btn width-md btn-bordered btn-danger waves-effect waves-light"
                                        type="submit">Đăng nhập</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
                <div class="row thanks-box">
                    <div class="col-md-10">
                        <p class="text-inverse text-left mb-0">Cảm ơn và hãy cảm nhận webite</p>
                        <p class="text-inverse text-left"><b>UTDESIGN TEAM</b></p>
                    </div>
                    <div class="col-md-2">
                        <img src="/public/admin/assets/images/logo-sm.png" alt="small-logo.png">
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>