  <!--=================================
Meet our agent -->
<section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2>Meet our agents</h2>
            <p>Real Villa Agents are customer advocates. We are accountable for helping clients buy and sell the right
              home, at the right price.</p>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
          <div class="agent text-center">
            <div class="agent-detail">
              <div class="agent-avatar avatar avatar-xllll">
                <img class="img-fluid rounded-circle" src="/public/datvangphanthiet/images/agent/01.jpg" alt="">
              </div>
              <div class="agent-info">
                <h6 class="mb-0"> <a href="agent-detail.html">Alice Williams </a></h6>
                <span class="text-primary font-sm">Founder & CEO </span>
                <p class="mt-3 mb-0">The first thing to remember about success is that it is a process – nothing more,
                  nothing less.</p>
              </div>
            </div>
            <div class="agent-button">
              <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
          <div class="agent text-center">
            <div class="agent-detail">
              <div class="agent-avatar avatar avatar-xllll">
                <img class="img-fluid rounded-circle" src="/public/datvangphanthiet/images/agent/02.jpg" alt="">
              </div>
              <div class="agent-info">
                <h6 class="mb-0"> <a href="agent-detail.html">Felica queen </a></h6>
                <span class="text-primary font-sm">Construction</span>
                <p class="mt-3 mb-0">There are basically six key areas to higher achievement. Some people will tell you
                  there are four.</p>
              </div>
            </div>
            <div class="agent-button">
              <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
          <div class="agent text-center">
            <div class="agent-detail">
              <div class="agent-avatar avatar avatar-xllll">
                <img class="img-fluid rounded-circle" src="/public/datvangphanthiet/images/agent/03.jpg" alt="">
              </div>
              <div class="agent-info">
                <h6 class="mb-0"> <a href="agent-detail.html">Paul flavius </a></h6>
                <span class="text-primary font-sm">Investment</span>
                <p class="mt-3 mb-0">While others may tell you there are eight. One thing for certain though, is that
                  irrespective of the.</p>
              </div>
            </div>
            <div class="agent-button">
              <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="agent text-center">
            <div class="agent-detail">
              <div class="agent-avatar avatar avatar-xllll">
                <img class="img-fluid rounded-circle" src="/public/datvangphanthiet/images/agent/04.jpg" alt="">
              </div>
              <div class="agent-info">
                <h6 class="mb-0"> <a href="agent-detail.html">Sara lisbon </a></h6>
                <span class="text-primary font-sm">Land development</span>
                <p class="mt-3 mb-0">If success is a process with a number of defined steps, then it is just like any
                  other process.</p>
              </div>
            </div>
            <div class="agent-button">
              <a class="btn btn-light btn-block" href="agent-detail.html">View Profile</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
Meet our agent -->