  <!--=================================
News, tips & articles -->
<section class="space-ptb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2>News, tips & articles</h2>
            <p>Grow your appraisal and real estate career with tips, trends, insights and learn more about our expert's
              advice.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="blog-post">
            <div class="blog-post-image">
              <img class="img-fluid" src="/public/datvangphanthiet/images/blog/01.jpg" alt="">
            </div>
            <div class="blog-post-content">
              <div class="blog-post-details">
                <div class="blog-post-category">
                  <a class="mb-3" href="#"><strong>Home improvement</strong></a>
                </div>
                <div class="blog-post-title">
                  <h5><a href="blog-detail.html">7 pieces of advice to newbies</a></h5>
                </div>
                <div class="blog-post-description">
                  <p class="mb-0">You are going on a cruise, but when the ship sets sail, you discover.</p>
                </div>
              </div>
              <div class="blog-post-footer">
                <div class="blog-post-time">
                  <a href="#"> <i class="far fa-clock"></i>02 Jan 2019</a>
                </div>
                <div class="blog-post-author">
                  <span> By <a href="#"> <img class="img-fluid" src="/public/datvangphanthiet/images/avatar/01.jpg" alt="">Sara lisbon </a>
                  </span>
                </div>
                <div class="blog-post-comment">
                  <a href="#"> <i class="far fa-comment"></i>(12) </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="blog-post">
            <div class="blog-post-image">
              <img class="img-fluid" src="/public/datvangphanthiet/images/blog/02.jpg" alt="">
            </div>
            <div class="blog-post-content">
              <div class="blog-post-details">
                <div class="blog-post-category">
                  <a class="mb-3" href="#"><strong>Tips and advice</strong></a>
                </div>
                <div class="blog-post-title">
                  <h5><a href="blog-detail.html">Where to Invest in Real Estate</a></h5>
                </div>
                <div class="blog-post-description">
                  <p class="mb-0">You will sail along until you collide with an immovable object.</p>
                </div>
              </div>
              <div class="blog-post-footer">
                <div class="blog-post-time">
                  <a href="#"> <i class="far fa-clock"></i>14 Feb 2019</a>
                </div>
                <div class="blog-post-author">
                  <span> By <a href="#"> <img class="img-fluid" src="/public/datvangphanthiet/images/avatar/02.jpg" alt="">Anne Smith</a> </span>
                </div>
                <div class="blog-post-comment">
                  <a href="#"> <i class="far fa-comment"></i>(32) </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="blog-post">
            <div class="blog-post-image">
              <img class="img-fluid" src="/public/datvangphanthiet/images/blog/03.jpg" alt="">
            </div>
            <div class="blog-post-content">
              <div class="blog-post-details">
                <div class="blog-post-category">
                  <a class="mb-3" href="#"><strong>Market trends</strong></a>
                </div>
                <div class="blog-post-title">
                  <h5><a href="blog-detail.html">Cutting your losses in Real Estate</a></h5>
                </div>
                <div class="blog-post-description">
                  <p class="mb-0">Trying to go through life without clarity is similar to sailing.</p>
                </div>
              </div>
              <div class="blog-post-footer">
                <div class="blog-post-time">
                  <a href="#"> <i class="far fa-clock"></i>30 March 2019</a>
                </div>
                <div class="blog-post-author">
                  <span> By <a href="#"> <img class="img-fluid" src="/public/datvangphanthiet/images/avatar/03.jpg" alt="">Alice Williams</a>
                  </span>
                </div>
                <div class="blog-post-comment">
                  <a href="#"> <i class="far fa-comment"></i>(45) </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
News, tips & articles -->
