  <!--=================================
 offering the Best Real Estate-->
 <section class="clearfix">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2>Discover our best deals</h2>
            <p>Check the listings of the best dealer on Real Villa and contact the agency or its agent by phone or
              contact form.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel owl-nav-top-right" data-animateOut="fadeOut" data-nav-arrow="true" data-items="1"
            data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
            <div class="item">
              <div class="property-offer">
                <div class="property-offer-item">
                  <div class="property-offer-image bg-holder"
                    style="background: url('/public/datvangphanthiet/images/property/big-img-01.jpg');">
                    <div class="row">
                      <div class="col-lg-6 col-md-10 col-sm-12">
                        <div class="property-details">
                          <div class="property-details-inner">
                            <h5 class="property-title"><a href="property-detail-style-01.html">Ample apartment at last
                                floor </a></h5>
                            <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>Virginia drive
                              temple hills</span>
                            <span class="property-agent-date"><i class="far fa-clock fa-md"></i>10 days ago</span>
                            <p class="mb-0 d-block mt-3">Use a past defeat as a motivator. Remind yourself you have
                              nowhere to go except up as you.</p>
                            <div class="property-price">$150.00<span> / month</span> </div>
                            <ul class="property-info list-unstyled d-flex">
                              <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>1</span></li>
                              <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>2</span></li>
                              <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>sqft<span>145m</span>
                              </li>
                            </ul>
                          </div>
                          <div class="property-btn">
                            <a class="property-link" href="property-detail-style-01.html">See Details</a>
                            <ul class="property-listing-actions list-unstyled mb-0">
                              <li class="property-compare"><a data-toggle="tooltip" data-placement="top" title="Compare"
                                  href="#"><i class="fas fa-exchange-alt"></i></a></li>
                              <li class="property-favourites"><a data-toggle="tooltip" data-placement="top"
                                  title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="property-offer">
                <div class="property-offer-item">
                  <div class="property-offer-image bg-holder"
                    style="background: url('/public/datvangphanthiet/images/property/big-img-02.jpg');">
                    <div class="row">
                      <div class="col-lg-6 col-md-10 col-sm-12">
                        <div class="property-details">
                          <div class="property-details-inner">
                            <h5 class="property-title"><a href="property-detail-style-01.html">Luxury villa with
                                pool</a></h5>
                            <span class="property-address"><i class="fas fa-map-marker-alt fa-xs"></i>West Indian St.
                              Missoula</span>
                            <span class="property-agent-date"><i class="far fa-clock fa-md"></i>2 years ago</span>
                            <p class="mb-0 d-block mt-3">For those of you who are serious about having more, doing more,
                              giving more and being more.</p>
                            <div class="property-price">$698.00<span> / month</span> </div>
                            <ul class="property-info list-unstyled d-flex">
                              <li class="flex-fill property-bed"><i class="fas fa-bed"></i>Bed<span>5</span></li>
                              <li class="flex-fill property-bath"><i class="fas fa-bath"></i>Bath<span>4</span></li>
                              <li class="flex-fill property-m-sqft"><i class="far fa-square"></i>sqft<span>1,658m</span>
                              </li>
                            </ul>
                          </div>
                          <div class="property-btn">
                            <a class="property-link" href="property-detail-style-01.html">See Details</a>
                            <ul class="property-listing-actions list-unstyled mb-0">
                              <li class="property-compare"><a data-toggle="tooltip" data-placement="top" title="Compare"
                                  href="#"><i class="fas fa-exchange-alt"></i></a></li>
                              <li class="property-favourites"><a data-toggle="tooltip" data-placement="top"
                                  title="Favourite" href="#"><i class="far fa-heart"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  offering the Best Real Estate-->