<section class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-white mb-0">Đăng Ký Bản Tin Của Chúng Tôi Để Nhận Các Tin Tức Và Ưu Đãi Mới Nhất.</h3>
      </div>
      <div class="col-md-7 mt-3 mt-md-0">
        <div class="newsletter">
          <form action="/lien-he/send-mail" id="contact_form" method="post">
            <div class="form-group mb-0">
              <input type="email" name="customer_email" class="form-control" required placeholder="Nhập Email của bạn">
            </div>
            <button type="button" id="sendmailSubmit" class="btn aloha btn-dark b-radius-left-none">Nhận thông báo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
