
  <!--=================================
Most popular places -->
<section class="space-pb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2>Most popular places</h2>
            <p>Discover homes in Real villa Most Popular Cities</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0">
              <a href="property-grid.html">
                <div class="location-item bg-overlay-gradient bg-holder"
                  style="background-image: url(/public/datvangphanthiet/images/location/01.jpg);">
                  <div class="location-item-info">
                    <h5 class="location-item-title">Mumbai</h5>
                    <span class="location-item-list">10 Properties</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <a href="property-grid.html">
                <div class="location-item bg-overlay-gradient bg-holder"
                  style="background-image: url(/public/datvangphanthiet/images/location/02.jpg);">
                  <div class="location-item-info">
                    <h5 class="location-item-title">Los angeles</h5>
                    <span class="location-item-list">14 Properties</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-12 mt-0 mt-lg-4">
              <a href="property-grid.html">
                <div class="location-item bg-overlay-gradient bg-holder"
                  style="background-image: url(/public/datvangphanthiet/images/location/04.jpg);">
                  <div class="location-item-info">
                    <h5 class="location-item-title">Miami</h5>
                    <span class="location-item-list">22 Properties</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
          <a href="property-grid.html">
            <div class="location-item location-item-big bg-overlay-gradient bg-holder" data-jarallax='{"speed": 0.6}'
              data-jarallax-video="https://www.youtube.com/embed/kacyaEXqVhs?showinfo=0&enablejsapi=1&origin=https://themes.potenzaglobalsolutions.com/html/real-villa/">
              <div class="location-item-info">
                <h5 class="location-item-title">San francisco </h5>
                <span class="location-item-list">29 Properties</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
Most popular places -->
