<!--=================================
footer-->
<footer class="footer bg-dark space-pt">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="footer-contact-info">
          <h5 class="text-primary mb-4">BĐS Đất vàng</h5>
          <p class="text-white mb-4">
            BĐS Đất vàng đã giúp hàng nghìn khách hàng tìm được bất động sản phù hợp với nhu cầu của họ.</p>
          <ul class="list-unstyled mb-0">
            <li> <b> <i class="fas fa-map-marker-alt"></i></b><span>E54 Nguyễn Văn Linh( Khu phố 5, Văn Thánh 1), phường phú tài , Phan thiết Phan Thiết, Bình Thuận</span>
            </li>
            <li> <b><i class="fas fa-microphone-alt"></i></b><span>(123) 345-6789</span> </li>
            <li> <b><i class="fas fa-headset"></i></b><span>
              ctydatvang.bt@gmail.com</span> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-primary mb-4">Thông tin</h5>
          <ul class="list-unstyled mb-0">
            <li> <a href="#">Về chúng tôi</a> </li>
            <li> <a href="#">Tư vấn</a> </li>
            <li> <a href="#">Thông báo</a> </li>
            <li> <a href="#">Liên hệ</a> </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="footer-recent-List">
          <h5 class="text-primary mb-4">BĐS Gần đây</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <div class="footer-recent-list-item">
                <img class="img-fluid" src="images/property/list/01.jpg" alt="">
                <div class="footer-recent-list-item-info">
                  <h6 class="text-white"><a class="category font-md mb-2" href="property-detail-style-01.html">Nhà phố Phan thiết</a></h6>
                  <a class="address mb-2 font-sm" href="property-detail-style-01.html">Nam Phan thiết</a>
                  <span class="price text-white">700tr/căn</span>
                </div>
              </div>
            </li>
            <li>
              <div class="footer-recent-list-item">
                <img class="img-fluid" src="images/property/list/02.jpg" alt="">
                <div class="footer-recent-list-item-info">
                  <h6 class="text-white"><a class="category font-md mb-2" href="property-detail-style-01.html">Nhà phố Phan thiết</a></h6>
                  <a class="address mb-2 font-sm" href="property-detail-style-01.html">Nam Phan thiết</a>
                  <span class="price text-white">700tr/căn</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <h5 class="text-primary mb-4">Đăng ký để nhận tin</h5>
        <div class="footer-subscribe">
          <p class="text-white">Đăng ký nhận bản tin của chúng tôi để nhận những tin tức và ưu đãi mới nhất.</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Địa chỉ email">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Nhận thông báo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-center text-md-left">
          <a href="index.html"><img class="img-fluid footer-logo" src="images/logo-light.svg" alt=""> </a>
        </div>
        <div class="col-md-4 text-center my-3 mt-md-0 mb-md-0">
          <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-double-up"></i> </a>
        </div>
        <div class="col-md-4 text-center text-md-right">
          <p class="mb-0 text-white"> &copy;Bản quyền thuộc về <span id="copyright">
              <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
            </span> <a href="#"> BĐS Đất Vàng </a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
footer-->