<% extend("../../../admin.ejs") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin">UTDESIGN</a></li>
                        <li class="breadcrumb-item"><a href="/admin/customers">Danh sách đánh giá</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
                <h4 class="page-title"><%= title %></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <form id="customer-add-form" action="/admin/customer/add-customer" method="POST">
                    <div class="form-group">
                        <label for="customer_name">Tên khách hàng<span class="text-danger">*</span></label>
                        <input type="text" name="customer_name" required="" placeholder="Nhập tên khách hàng"
                            class="form-control" id="customer_name">
                    </div>
                    <div class="form-group">
                        <label for="customer_career">Nghề nghiệp khách hàng<span class="text-danger">*</span></label>
                        <input type="text" name="customer_career" required="" placeholder="Nghề nghiệp khách hàng"
                            class="form-control" id="customer_career">
                    </div>
                    <div class="form-group">
                        <div>
                            <textarea rows="5" required="" placeholder="Nội dung đánh giá" class="form-control" name="customer_evaluate"
                                id="customer_evaluate"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-left mb-0">
                        <button class="btn btn-success waves-effect waves-light" type="submit">
                            Lưu đánh giá
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#customer-add-form").validate({
            rules: {
                customer_name: {
                    required: true,
                },
                customer_career: {
                    required: true,
                },
                customer_evaluate: {
                    required: true
                }
            },
            messages: {
                customer_name: {
                    required: 'Vui lòng nhập tên khách hàng',
                },
                customer_career: {
                    required: "Vui lòng nhập nghề nghiệp",
                },
                customer_evaluate: {
                    required: "Vui lòng nhập mô tả"
                },
            }
        });
    });
</script>
© 2020 GitHub, Inc.