<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Real Villa - Real Estate HTML5 Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BĐS Đất vàng</title>
    <link rel="shortcut icon" href="/public/datvangphanthiet/images/favicon.ico" />
    <!-- Google Font -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,500,600,700%7CRoboto:300,400,500,700">
    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="/public/datvangphanthiet/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="/public/datvangphanthiet/css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="/public/datvangphanthiet/css/bootstrap/bootstrap.min.css" />
  
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="/public/datvangphanthiet/css/select2/select2.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">
    <link rel="stylesheet" href="/public/datvangphanthiet/css/range-slider/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/public/datvangphanthiet/css/datetimepicker/datetimepicker.min.css" />
    <link rel="stylesheet" href="/public/datvangphanthiet/css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="/public/datvangphanthiet/css/magnific-popup/magnific-popup.css" />
    <!-- Template Style -->
    <link rel="stylesheet" href="/public/datvangphanthiet/css/style.css" />
    <script src="/public/datvangphanthiet/js/jquery-3.4.1.min.js"></script>

  </head>
<%- include('./datvangphanthiet/header/header') %>
<main class="main-content bg-grey">
    <%- content %>
</main>
<%- include('./datvangphanthiet/footer/footer', {userInfo : userInfo}) %>
  <!-- JS Global Compulsory (Do not remove)-->
  <script src="/public/datvangphanthiet/js/popper/popper.min.js"></script>
  <script src="/public/datvangphanthiet/js/bootstrap/bootstrap.min.js"></script>
  <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
  <script src="/public/datvangphanthiet/js/jquery.appear.js"></script>
  <script src="/public/datvangphanthiet/js/counter/jquery.countTo.js"></script>
  <script src="/public/datvangphanthiet/js/select2/select2.full.js"></script>
  <script src="/public/datvangphanthiet/js/range-slider/ion.rangeSlider.min.js"></script>
  <script src="/public/datvangphanthiet/js/owl-carousel/owl.carousel.min.js"></script>
  <script src="/public/datvangphanthiet/js/jarallax/jarallax.min.js"></script>
  <script src="/public/datvangphanthiet/js/jarallax/jarallax-video.min.js"></script>
  <script src="/public/datvangphanthiet/js/datetimepicker/moment.min.js"></script>
  <script src="/public/datvangphanthiet/js/datetimepicker/datetimepicker.min.js"></script>
  <script src="/public/datvangphanthiet/js/wow/wow.min.js"></script>
  <script src="/public/datvangphanthiet/js/magnific-popup/jquery.magnific-popup.min.js"></script>
  <!-- Template Scripts (Do not remove)-->
  <script src="/public/datvangphanthiet/js/custom.js"></script>
</body>

</html>