  <!--=================================
header -->
<header class="header">
  <div class="topbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="d-block d-md-flex align-items-center text-center">
            <div class="mr-3 d-inline-block">
              <a href="tel:02526512333"><i class="fa fa-phone mr-2 fa fa-flip-horizontal"></i>0252 6512 333</a>
            </div>
            <div class="ml-auto social d-inline-block">
              <ul class="list-unstyled">
                <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-light bg-white navbar-static-top navbar-expand-lg header-sticky">
    <div class="container-fluid">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><i
          class="fas fa-align-left"></i></button>
      <a class="navbar-brand" href="/">
        <img class="img-fluid" src="/public/datvangphanthiet/images/logo.svg" alt="logo">
      </a>
      <div class="navbar-collapse collapse justify-content-center">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a href="/gioi-thieu" class="nav-link" title="giới thiệu">giới thiệu</a>
          </li>
          <li class="dropdown nav-item">
            <a href="properties.html" class="nav-link" data-toggle="dropdown">Bất động sản<i
                class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu megamenu dropdown-menu-lg">
              <li>
                <div class="row no-gutters d-none d-lg-block">
                  <div class="col-12 mb-4">
                    <div class="media d-flex align-items-center p-4 bg-light">
                      <div class="mr-4">
                        <i class="flaticon-pin display-4 text-primary"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Chọn loại bất động sản mà bạn mong muốn</h6>
                        <p class="mb-0">To browse in your areas of interest, look for properties by location.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <h6 class="mb-3 nav-title"> <a
                        class="d-block text-md-center pd-badge badge badge-danger color-red"
                        href="property-list.html">Đất</a></h6>
                  </div>
                  <div class="col-sm-4">
                    <h6 class="mb-3 nav-title"> <a
                        class="d-block text-md-center pd-badge text-small-thin badge badge-warning color-yellow"
                        href="property-list.html">Nhà</a></h6>
                  </div>
                  <div class="col-sm-4">
                    <h6 class="mb-3 nav-title"> <a
                        class="d-block text-md-center pd-badge badge badge-primary color-blue"
                        href="property-list.html">Mặt bằng</a>
                    </h6>
                  </div>
                  <div class="col-12 mt-4 d-none d-lg-block">
                    <div class="p-4 bg-holder bg-overlay-black-70"
                      style="background-image: url(images/banner-01.jpg);">
                      <div class="position-relative">
                        <div class="position-relative d-flex align-items-center">
                          <div class="pr-1">
                            <h6 class="text-white mb-0">Bạn đang tìm kiếm bất động sản?</h6>
                            <small class="text-white mb-0">Chúng tôi sẽ tìm kiếm cho bạn ?</small>
                          </div>
                          <div class="ml-auto">
                            <a class="btn btn-light btn-sm" href="property-list.html">Tìm Kiếm</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Dự án <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/du-an">Khu đô thị mới nam Phan Thiết</a></li>
              <li><a class="dropdown-item" href="/du-an">NovaWorld</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Pháp lý <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Lên thổ cư</a></li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Hợp đồng chuyển nhượng</a></li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Đo đạc, tách thửa, hợp thửa</a></li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Cấp mới quyền sử dụng đất</a></li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Đăng ký thế chấp, xóa thế tranh chấp</a>
              </li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Tư vấn & xin giấy phép lập doanh
                  nghiệp</a>
              </li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Hỗ trợ vay vốn, đáo hạn</a></li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Nguyên vật liệu</a></li>
              <li><a class="dropdown-item" href="/dieu-kien-phap-ly">Cho vay thế chấp quyền sử dụng đất</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Tin tức <i class="fas fa-chevron-down fa-xs"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/blog">Nhà đất & BĐS</a></li>
              <li><a class="dropdown-item" href="/blog">Thị trường</a></li>
              <li><a class="dropdown-item" href="/blog">Phân tích, Nhận định</a></li>
              <li><a class="dropdown-item" href="/blog">Thông tin quy hoạch</a></li>
            </ul>
          </li>
          <li class="dropdown nav-item mega-menu">
            <a href="/lien-he" class="nav-link" title="Liên hệ">Liên hệ</a>
          </li>
        </ul>
      </div>
      <div class="add-listing d-none d-sm-block">
        <a class="btn btn-primary btn-md" href="submit-property.html"> <i class="fa fa-phone"></i>Tư vấn
        </a>
      </div>
    </div>
  </nav>
</header>
<!--=================================
header -->