<% extend("../../datvangphanthiet") %>
  <!--=================================
breadcrumb -->
<div class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/"> <i class="fas fa-home"></i> </a></li>
            <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span>Bất động sản </span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!--=================================
breadcrumb -->

  <!--=================================
about -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid" src="/public/datvangphanthiet/images/projects/gioi-thieu-novaworld-phan-thiet.jpg" alt="">
        </div>
        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="section-title mb-3">
            <h2>ĐẠI ĐÔ THỊ DU LỊCH NGHỈ DƯỠNG GIẢI TRÍ NOVAWORLD PHAN THIẾT</h2>
          </div>
          <p>Dự án Novaworld Phan Thiết sẽ là đại đô thị đầu tiên mà chủ đầu tư Novaland sẽ triển khai trước dự án Aqua,
            dự án có vị trí tọa lạc đắc địa tại xã Tiến Thành, Phan Thiết, Bình Thuận, Việt Nam. Điểm nhấn mạnh và ấn
            tượng đầu tiên khi nói đến đại đô thị Novaworld Tiến Thành Phan Thiết là dự án có quy mô rất lớn với tổng...
          </p>
          <ul class="pl-3">
            <li class="mb-2"><strong>Vị trí dự án : </strong>Mặt tiền đường Lạc Long Quân, Xã Tiến Thành, Thành Phố Phan
              Thiết, Bình
              Thuận, Việt Nam.</li>
            <li class="mb-2"><strong>Chủ đầu tư :</strong>Tập đoàn Novaland</li>
            <li class="mb-2"><strong>Tổng diện tích : </strong>1.000 ha</li>
            <li class="mb-2"><strong>Tên chính thức : </strong>NovaWorld Phan Thiết Integrate Resort</li>
            <li class="mb-2"><strong>Loại hình đầu tư :</strong>Khu đô thị phức hợp Nghỉ Dưỡng – Du Lịch – Giải Trí kết
              hợp nhà ở với hơn
              10.000 sản phẩm. Dự án được phân chia ra nhiều khu, mỗi 1 khu sẽ có một phong cách thiết kế kiến trúc
              riêng tương xứng với 1 chủ đề chính độc đáo được lấy ý tưởng từ các nền văn hóa kiến trúc đặc sắc trên thế
              giới.</li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center text-sm-center">
        <div class="col-sm-3">
          <div class="counter counter-02 mt-4 mt-sm-5">
            <div class="counter-content">
              <span class="timer mb-1" data-to="465" data-speed="10000">456</span>
              <label class="mb-0">Căn hộ</label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counter counter-02 mt-4 mt-sm-5">
            <div class="counter-content">
              <span class="timer mb-1" data-to="200" data-speed="10000">200</span>
              <label class="mb-0">Biệt thự </label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counter counter-02 mt-4 mt-sm-5">
            <div class="counter-content">
              <span class="timer mb-1" data-to="250" data-speed="10000">250</span>
              <label class="mb-0">Nhà phố</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
about -->

  <!--=================================
portfolio -->
  <section class="space-pb popup-gallery overflow-hidden">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-md-3 mb-2 mb-md-3 align-self-end">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/01.jpg"><img class="img-fluid" src="/public/datvangphanthiet/images/gallery/01.jpg"
              alt=""></a>
        </div>
        <div class="col-md-3 mb-2 mb-md-3 align-self-end">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/02.jpg"><img class="img-fluid w-100" src="/public/datvangphanthiet/images/gallery/02.jpg"
              alt=""></a>
        </div>
        <div class="col-md-3 mb-2 mb-md-3 align-self-end">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/03.jpg"><img class="img-fluid" src="/public/datvangphanthiet/images/gallery/03.jpg"
              alt=""></a>
        </div>
        <div class="col-md-3 mb-2 mb-md-3">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/04.jpg"><img class="img-fluid" src="/public/datvangphanthiet/images/gallery/04.jpg"
              alt=""></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mt-0 mt-md-3">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/05.jpg"><img class="img-fluid" src="/public/datvangphanthiet/images/gallery/05.jpg"
              alt=""></a>
        </div>
        <div class="col-md-3 mt-2 mt-md-3">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/06.jpg"><img class="img-fluid w-100" src="/public/datvangphanthiet/images/gallery/06.jpg"
              alt=""></a>
        </div>
        <div class="col-md-3 mt-2 mt-md-3">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/07.jpg "><img class="img-fluid" src="/public/datvangphanthiet/images/gallery/07.jpg"
              alt=""></a>
        </div>
        <div class="col-md-3 mt-2 mt-md-3">
          <a class="portfolio-img" href="/public/datvangphanthiet/images/gallery/08.jpg"><img class="img-fluid" src="/public/datvangphanthiet/images/gallery/08.jpg"
              alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
portfolio -->

  <!--=================================
benefits  -->
  <section class="space-pb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <h2>Đây chỉ là một số lý do bạn sẽ chọn NovaWorld</h2>
            <p>Cơ sở dữ liệu toàn diện của chúng tôi về danh sách và thông tin thị trường cung cấp cái nhìn chính xác nhất về thị trường và
              giá trị nhà.</p>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-sm-6">
          <div class="feature-info">
            <div class="feature-info-icon">
              <i class="flaticon-bed-1"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="mb-3 feature-info-title">Đến sân bay nhanh chóng</h6>
              <p class="mb-0">Chỉ mất khoảng 12 - 15 phút từ khu đô thị đến sân bay quốc tế Phan Thiết</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature-info">
            <div class="feature-info-icon">
              <i class="flaticon-home-2"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="mb-3 feature-info-title">Gần cao tốc</h6>
              <p class="mb-0">Mất từ 10 - 12 phút kết nối trức tiếp đến Cao tốc Dầu Giây - Phan Thiết.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature-info">
            <div class="feature-info-icon">
              <i class="flaticon-home-1"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="mb-3 feature-info-title">Gần khu nghỉ dưỡng</h6>
              <p class="mb-0">Mất từ 15 - 20 phút kết nối đến tất cả khu du lịch, Resort, danh lam thắng cảnh tại Phan Thiết (Bình Thuận).</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="feature-info">
            <div class="feature-info-icon">
              <i class="flaticon-workout"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="mb-3 feature-info-title">Di chuyển dễ dàng</h6>
              <p class="mb-0">Cao tốc Phan Thiết – Dầu Giây khởi công trong quý 3/2020 dễ dàng kết nối du lịch 3 vùng TP.HCM – Phan Thiết – Nha Trang.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
benefits-->

  <!--=================================
Faq -->
  <section class="space-pb">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-ms-10">
          <div class="section-title text-center">
            <h2>NHẬN THÔNG TIN DỰ ÁN VÀ BẢNG BÁO GIÁ TẠI ĐÂY</h2>
            <p>Có thể nói dự án khu đô thị Novaworld Tiến Thành Phan Thiết có 1 vị thế tọa lạc vàng, đắc địa ngay Trung
              tâm Khu du lịch Phan Thiết. Hơn nữa nếu xét theo Phong Thủy, thì thế đất mà dự án tọa lạc chính là “Tựa
              Sơn Hướng Thủy” nơi vượng khí và tài lộc. Địa chỉ cụ thể của dự án ngay mặt tiền đường Lạc Long Quân,
              thuộc Phường...
            </p>
          </div>
          <div class="col-sm-12">
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Nhập địa chỉ email">
                <small id="emailHelp" class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với
                  bất kỳ ai.</small>
              </div>
              <div class="form-group">
                <input type="Number" class="form-control" id="exampleInputPassword1" placeholder="Số điện thoại">
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Ghi chú" id="exampleFormControlTextarea1"
                  rows="5"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row mt-5 text-center">
        <div class="col-12">
          <a class="btn btn-primary" href="#">Nhận thông tin</a>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
Faq -->

  <!--=================================
newsletter -->
  <section class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3 class="text-white mb-0">Đăng ký nhận bản tin của chúng tôi để nhận những tin tức và ưu đãi mới nhất.</h3>
        </div>
        <div class="col-md-7 mt-3 mt-md-0">
          <div class="newsletter">
            <form>
              <div class="form-group mb-0">
                <input type="email" class="form-control" placeholder="Enter email">
              </div>
              <button type="submit" class="btn btn-dark b-radius-left-none">Nhận tin nhắn</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
newsletter -->